{{!
  Copyright 2015-2017 ForgeRock AS. All Rights Reserved
 
  Use of this code requires a commercial software license with ForgeRock AS.
  or with one of its affiliates. All use shall be exclusively subject
  to such license between the licensee and ForgeRock AS.
}}
<div id="updateView" class="form clearfix">
    <div id="versionHistoryGroup" class="panel-collapse-group hidden">
        <div id="versionsView" class="panel panel-default panel-collapse"></div>
        <div id="historyView" class="panel panel-default panel-collapse"></div>
    </div>
    <div id="maintenanceModeView"></div>
    <div id="installationPreviewView" class="group-body"></div>
    <div id="repoUpdatesView" class="group-body"></div>
    <div id="installationReportView" class="group-body"></div>

</div>
