{{!
Copyright 2015-2017 ForgeRock AS. All Rights Reserved

Use of this code requires a commercial software license with ForgeRock AS.
or with one of its affiliates. All use shall be exclusively subject
to such license between the licensee and ForgeRock AS.
}}
<div class="profile-backbar">
    <div class="container">
        <h3 class="profile-backbar-header">
            <a href="#profile/">{{t "common.user.myAccount"}}</a>
        </h3>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="tab-menu profile-side-menu col-md-2">
            <ul class="nav fr-profile-nav" role="tablist"></ul>
        </div>
        <div class="tab-content col-md-10 user-profile"></div>
    </div>
</div>